/* Global Styles */

html,
body {
  background-color: #98c1d9;
  margin: 0;
  padding: 0;
  width: auto;
}

h1 {
  font-family: "Playfair Display";
  src: url("./../fonts/PlayfairDisplay-Regular.otf") format("truetype");
  font-size: 40px;
  color: #ee6c4d;
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
  margin-top: 15px;
}

h2 {
  font-family: "Playfair Display";
  src: url("./../fonts/PlayfairDisplay-Regular.otf") format("truetype");
  font-size: 39px;
  text-align: center;
}

h3 {
  font-family: "Source Sans Pro";
  src: url("./../fonts/PlayfairDisplaySC-Italic.otf") format("truetype");
  font-size: 35px;
  text-align: center;
}

h4 {
  font-family: "Source Sans Pro";
  src: url("./../fonts/SourceSansPro-BoldItalic.ttf") format("truetype");
  font-size: 30px;
  text-align: center;
}

h5 {
  font-family: "Playfair Display";
  src: url("./../fonts/PlayfairDisplaySC-BlackItalic.otf") format("truetype");
  font-size: 25px;
}

h6 {
  font-family: "Source Sans Pro";
  src: url("./../fonts/SourceSansPro-Italic.ttf") format("truetype");
  font-size: 35px;
  text-align: center;
  color: white;
  text-decoration: none;
  align-items: center;
  height: auto;
}

h6 > a {
  text-decoration: none;
}

h6 > a:visited {
  color: white;
}

p {
  font-family: "Source Sans Pro";
  src: url("./../fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-size: 26px;
  text-align: center;
  width: 100%;
  max-width: 50%;
  margin: 0 auto;
  margin-top: 15px;
  padding: 25px;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  padding: 20px;
}

figure {
  margin: 0;
}

.sixteen-by-nine {
  max-width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
  padding: 0;
}

/* Section Styles */

main > article > section {
  padding: 65px 20px;
}

@media (min-width: 768px) {
  main > article > section > header > p {
    max-width: 50%;
  }
  main > article > section {
    padding: 65px 40px;
    max-width: 1300px;
    margin: 0 auto;
  }

  main > article > section > div > p {
    font-size: 22px;
  }

  main > article > section > div > p > a {
    font-size: 22px;
    text-decoration: none;
  }
}

/* Grid Styles */

@media (min-width: 786px) {
  .grid-1-1 {
    display: flex;
    grid-template-columns: 1fr;
    margin: 0 auto;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* this is a grid with two columns */
  .grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    padding: 10px;
    align-content: center;
    width: auto;
    height: auto;
  }
  /* this is a grid with four columns */
  .grid-1-4 {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-gap: 20px;
    margin: 0 auto;
    padding: 50px 200px;
    width: auto;
    object-fit: cover;
    height: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}

/* Card Styles */

.card {
  box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.16);
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 15px;
  padding: 5px;
  max-width: 500px;
  width: 100%;
  min-height: 200px;
  margin: 20px;
  justify-content: space-between;
}

.card section {
  padding: 2px;
  margin: auto;
  width: auto;
  align-content: center;
}

.card p {
  font-size: 17px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.card img {
  display: flex;
  padding: 5px;
  margin-top: auto;
  margin-bottom: auto;
  align-content: center;
  height: auto;
  width: auto;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.card > h6 > a {
  align-content: center;
  justify-content: center;
  color: white;
}

article.card {
  padding: 0;
  margin: 0;
}

article.card > h6 > i {
  align-content: center;
  align-items: center;
  height: 50%;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 786px) {
  /* image should fill figure container of card that also has two columns */
  .card.grid-1-4 img {
    object-fit: cover;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .card.grid-1-4 section {
    padding: 40px;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #e69b9b;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #7cace3;
  color: white;
  transform: rotateY(180deg);
}

main > article > section > div > article > section > figure > img {
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media (max-width: 767px) {
  p {
    width: auto;
    max-width: 80%;
    padding: 5px;
    font-size: 20px;
    justify-content: space-around;
  }

  p > a:visited {
    color: white;
  }
}

/* Header Styles */

/* Button Styles */

#rcorners1 {
  border-radius: 25px;
  background: #3d5a80;
  padding: 10px;
  width: 300px;
  height: 100px;
  align-content: center;
  margin: 0 0 0 0.16;
}

#rcorners1 > h6 {
  align-items: center;
}

/* Navbar Styles */

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Playfair Display";
  src: url("./../fonts/PlayfairDisplaySC-BlackItalic.otf") format("truetype");
  font-size: 25px;
}

#logo {
  height: 50px;
  width: auto;
  padding: 5px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#hamburger {
  display: none;
  padding: 5px;
}

#overlay {
  display: none;
}

/* Navigation Mobile Styles */
@media (max-width: 767px) {
  nav {
    padding: 0 20px;
  }

  nav ul {
    display: none;
    max-width: 60vw;
    width: 100%;
    height: 100vh;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
    box-sizing: border-box;
    z-index: 2;
  }

  nav ul.active {
    display: block;
  }

  nav ul li {
    padding: 20px;
  }

  #hamburger {
    display: block;
    height: 50px;
    width: auto;
  }

  #overlay {
    display: none;
    width: 100vh;
    height: 100vh;
    background: black;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  #overlay.active {
    display: block;
  }
}

/* desktop */
@media (min-width: 768px) {
  nav {
    padding: 0 40px;
  }
  nav ul {
    display: flex;
    max-width: 500px;
    width: 100%;
    justify-content: space-between;
  }
}

/* Footer Styles */

footer p {
  font-size: 15px;
}

footer {
  background: #293241;
  color: white;
  padding: 12px;
  text-align: center;
  width: auto;
  height: 100%;
}

footer a {
  color: white;
}

/* Accordian */

.accordion {
  background-color: #98c1d9;
  color: black;
  cursor: pointer;
  padding: 6px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #a0cce6;
}

.accordion:after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: #98c1d9;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
